@font-face {
    font-family: "myfont";
    src: url("/fonts/ProximaNovaRegular.woff2") format("woff");
}
body {
    /* cursor: pointer; */
    font-family: "myfont" !important;
    margin: 0;
}
k body img {
    cursor: pointer;
}
.black-background {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
#copyrights {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
}
.load-div {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.loading {
    height: 5px;
    background-color: #5e9400;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: width 0.5s, transform 0.5s ease;
}

.shrink {
    width: 0;
    transform: translatex(-50%);
}

.bg {
    background-color: #101010;
    .show-more {
        display: flex;
        width: 100%;
        justify-content: center;
        color: #d5d5d5;
        text-decoration: underline;
        cursor: pointer;
        line-height: 2rem;
    }
}
.fonts {
    color: #d8d8d8;
    font-family: "myfont";
    font-size: 13px;
    line-height: 2vh;
}
.cities {
    max-width: 85%;
    margin: auto;
    border-top: 1px #ffffff;
    border-top-style: dashed;
    border-bottom: 1px #ffffff;
    border-bottom-style: dashed;
    font-size: 14px;
    color: #dddddd;
}

ul {
    list-style-type: none;
}
.navbar {
    width: 73%;
    max-width: 100%;
    margin: auto;
    row-gap: 0.5rem;
}

.navbar1 {
    justify-content: space-between;
    column-gap: 1rem;
    height: 2.3rem;
    overflow: hidden;
    width: 100%;
}
.bb-logo {
    width: 5rem;
    height: 2.3rem;
}
.search {
    position: relative;
    align-items: center;
}

.search-input {
    font: inherit;
    height: 100%;
    min-width: 35rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    overflow: hidden;
}

.search-logo {
    position: absolute;
    width: 1.2rem;
    padding: 0.2rem;
    left: 0.5rem;
}
.location {
    position: relative;
    align-items: center;
}

.location-btn {
    padding: auto;
    padding-left: 2.5rem;
    font-family: "myfont";
    font-size: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: auto;
    height: 100%;
    overflow: hidden;
}
.location-logo {
    position: absolute;
    width: auto;
    height: 1.4rem;
    left: 0.5rem;
    overflow: hidden;
}
.login {
    height: 100%;
    align-items: center;
}

.login-btn {
    width: auto;
    height: 100%;
    font-family: inherit;
    font-size: 0.7rem;
    background-color: #000000;
    border: none;
    border-radius: 0.3rem;
    color: white;
    overflow: hidden;
}

.cart {
    position: relative;
    align-items: center;
}
.cart-logo {
    border: none;
    width: auto;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fce6e8;
    border-radius: 0.3rem;
}

.navbar2 {
    justify-content: space-between;
    column-gap: 1rem;
    height: 2.3rem;
    width: 100%;
    align-items: center;
    overflow: hidden;
    h2 {
        margin: 0;
    }
}
.category {
    position: relative;
    background-color: #5e9400;
    cursor: pointer;
    border-radius: 0.3rem;
}
.category p {
    font-size: 10px;
    position: absolute;
    padding-top: 3px;
    padding-left: 0.5rem;
    color: #ffffff;
    font-weight: 700;
}
.category-btn {
    display: flex;
    border: none;
    font-family: "myfont";
    color: white;
    background-color: transparent;
    width: 8rem;
    height: 100%;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
    font-size: 14px;
    overflow: hidden;
    justify-content: space-between;
    font-weight: 600;
}

.category-btn svg {
    width: 8%;
    height: 20%;
    margin-right: 8%;
}

.category-container {
    display: none;
    position: fixed;
    top: 20%;
    left: 14%;
    width: 48rem;
    z-index: 1002;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 0.3rem;
    /* padding: 0.5rem; */
}

.category-main-item {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    row-gap: 1rem;
    background-color: #202020;
    color: #ffffff;
    padding: 1rem;
    width: 16rem;
}
.category-main-item li {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.category-main-item li:hover {
    background-color: #404040;
    font-weight: bold;
}

.category-sub-1 {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    row-gap: 1rem;
    background-color: #eeeeee;
    color: #202020;
    padding: 1rem;
    width: 16rem;
}
.category-sub-1 li {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.category-sub-1 li:hover {
    background-color: #ffffff;
    font-weight: bold;
}
.category-sub-2 {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    row-gap: 1rem;
    background-color: #ffffff;
    color: #202020;
    padding: 1rem;
    width: 16rem;
}
.category-sub-2 li {
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.category-sub-2 li:hover {
    background-color: #eeeeee;
    font-weight: bold;
}

.menu-list {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: auto;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    height: auto;
    visibility: visible;
    div {
        display: flex;
        justify-content: center;
    }
}

.pro-item {
    font-family: "myfont";
    position: relative;
    font-size: 0.9rem;
    max-width: fit-content;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 !important;
    .bottom-effect {
        position: absolute;
        width: 0%;
        height: 30%;
        background: linear-gradient(#ffffff, #e71e1e);
        left: 0;
        top: 70%;
        z-index: -1;
        transition: width 0.5s ease;
    }
}

.pro-item:hover {
    color: red;
}

.pro-item:hover .bottom-effect {
    width: 100%;
}

.navbar2-btn {
    border: none;
    background-color: transparent;
    border-radius: 50px;
    height: 100%;
    width: auto;
}

.navbar2 h2 {
    opacity: 30%;
}

.menu {
    padding-top: 0.5rem;
    justify-content: center;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    width: 100%;
}

.menu.hidden {
    transform: translateY(-100%);
}

/* body */
.cntr {
    width: 73%;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0;
    background-color: #f2f2f2;
    /* p {
        color: #505050;
    } */
}

.path {
    display: flex;
    top: 1px;
    height: 2rem;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
    p {
        margin: 0;
    }
}

.path svg {
    height: 1rem;
    width: 1.3rem;
}

.carouseldiv {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1);
}

.carousel-main {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100%;
}
.carousel-btn {
    display: flex;
    height: 20%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    justify-content: space-between;
}
.prev-button,
.next-button {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    height: 100%;
    width: 4%;
}
.carousel-arrow {
    height: auto;
    width: 100%;
    margin: auto;
    opacity: 50%;
}

.prev-button {
    left: 2%;
}
.next-button {
    right: 2%;
}

.info-title {
    font-weight: 100;
}

.info-nav-button {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: top;
    /* margin-bottom: 1rem ; */
    border-bottom: 1px dashed #303030;
}

.info-nav-filter {
    display: flex;
    position: relative;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0.3rem;
    p {
        position: absolute;
        margin: 0;
        right: 10;
    }
}

.info-nav-relevance {
    display: flex;
    position: relative;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0.3rem;
    p {
        position: absolute;
        margin: 0;
        left: 10;
    }
    i {
        position: absolute;
        right: 10;
    }
}

.info-nav-filter:hover,
.info-nav-relevance:hover {
    background-color: #303030;
    color: white;
}

.main-menu {
    display: flex;
    flex-direction: row;
    height: 75rem;
}

.filter-menu {
    flex: 1;
    padding: 10px;
    width: 30%;
    height: auto;
    background-color: #f2f2f2;
    top: 7px;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    input {
        cursor: pointer;
    }
}

.filter-menu::-webkit-scrollbar {
    width: 1rem;
    color: red;
}

.filter-menu-category-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 6;
}

.filter-menu-category-name-back {
    display: flex;
    height: 2rem;
    font-size: 0.75rem;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        background: transparent;
        border: none;
    }
    p {
        margin: 0;
    }
}

.filter-category-name-menu {
    background-color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5rem;
    max-height: fit-content;
    p {
        color: #8bc34a;
        margin: 0;
    }
}
.filter-category-menu-details {
    border-left: 1px solid #f1f1f1;
    padding: 0.5rem;
    p {
        margin: 0.5rem;
        color: #000000;
    }
}

.supersaver {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    .supersaver-name {
        display: flex;
        align-items: center;
    }
    p {
        margin: 0;
        color: red;
    }
}
.supersaver-button-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}
.supersaver-button {
    border: none;
    margin: 0;
    width: 4rem;
    height: 55%;
    opacity: 80%;
}

.refined-menu-product-rating {
    margin-top: 0.3rem;
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #eeeeee;
    border-radius: 0.3rem;
    padding: 0.5rem;
    .product-rating-title {
        display: flex;
        position: relative;
        align-items: center;
        background-color: #eeeeee;
        font-size: 0.85rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        p {
            margin: 0;
            font-weight: 500;
        }
        i {
            position: absolute;
            right: 0.5rem;
        }
    }
}

.rating-menu-input {
    width: 100%;
    margin: 0.3rem 0;
    border-radius: 0.3rem;
    border: 1px solid #f2f2f2;
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem;
}
.product-rating-menu {
    justify-content: space-around;
    div {
        display: flex;
        align-items: center;
        height: 1.5rem;
        overflow: hidden;
        i {
            margin: 0 0.2rem;
        }
        p {
            margin: 0 0.2rem;
            font-size: 14px;
        }
        a {
            font-size: 0.8rem;
            p {
                text-decoration: underline;
            }
        }
    }
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}
input[type="checkbox"]:checked {
    accent-color: #5e9400;
}

.product-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    background-color: transparent;
    justify-content: space-around;
    row-gap: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.product-menu::-webkit-scrollbar {
    display: none;
}

.basket-item-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 1rem 0;
}

.item-count-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -1.6rem;
    background-color: white;
    height: auto;
    width: 13rem;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.3rem 0.3rem;

    .wishlist {
        border: none;
        border-radius: 0.1rem;
        border: 1px solid #d9d9d9;
        background-color: white;
        height: 1.8rem;
    }
    .add-items-button-container {
        display: flex;
        align-items: center;
        width: 9rem;
        height: 1.8rem;
        .add-items {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border: none;
            border: 1px solid #cc0001;
            color: #cc0001;
            background-color: white;
            border-radius: 0.2rem;
            font-size: small;
            font-weight: bold;
        }
        .add-items:hover {
            color: #ffffff;
            background-color: #cc0001;
        }
        .additional-button-container {
            display: none;
        }

        .additional-button-container-new {
            display: flex;
            height: inherit;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            border: 2px solid #cc0001;

            .add-product,
            .remove-product {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 33%;
                border: 1px solid #cc0001;
                background-color: #cc0001;
                color: #ffffff;
                font-size: 1.3rem;
            }
            p {
                margin: 0;
                font-size: 0.8rem;
                color: #cc0001;
            }
        }
    }
}

.basket-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0.3rem;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 24rem;
    width: 13rem;
    padding: 0.5rem;
    overflow-y: hidden;
    scroll-snap-align: start;
    border-radius: 0.5rem;
}

.basket-item::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.basket-item-image-container {
    position: relative;
    border-radius: 0.5rem;
    border: solid 0.1rem #f4f4f4;
    /* min-width: max-content; */
    width: 100%;
    height: fit-content;
    margin: auto;
}

.basket-item-image {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.basket-item-discount {
    top: 0;
    position: absolute;
    font-size: 0.5rem;
    font-weight: 700;
    padding: 0.4rem 0.6rem;
    background-color: #476f00;
    color: white !important;
    border-radius: 0.5rem 0;
}

.basket-item-image-type-cntr {
    width: fit-content;
    padding: 0.15rem;
    border: solid 1px green;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.basket-item-image-type {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(29, 158, 29);
    border-radius: 50%;
}

.basket-item-detail-container {
    margin: 0.5rem;
}

.basket-item-detail-brand {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
}

.basket-item-detail-name {
    overflow: hidden;
    height: 2.5rem;
    /* margin-bottom: 1rem; */
    margin: 0;
    font-size: 0.9rem;
}

.basket-item-detail-quantity {
    width: 100%;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    padding: 0.3rem;
    border: solid 1px gray;
    opacity: 70%;
    background-color: #ffffff;
}

.basket-item-offer-button {
    display: flex;
    background: linear-gradient(to right, white, #f08b8b);
    border-radius: 0.2rem;
    border: 1px solid #f31717;
    color: #f31717;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    cursor: pointer;
    width: 92%;
    margin-left: 4%;
}

.basket-item-offer-button p {
    margin: 0;
    padding: 0.2rem;
}

.basket-item-detail-price-cntr {
    height: min-content;
    margin: 0;
}

.basket-item-quantity-discount-price {
    font-size: 0.75rem;
    text-decoration: line-through;
    color: #676767;
}

.basket-item-scroll-detail {
    transition: all 1s ease;
    display: none;
}

.basket-item-scroll-container {
    position: relative;
    height: fit-content;
    background: linear-gradient(#ffffff, #f08b8b);
    font-size: 0.9rem;
    border-radius: 1rem;
    margin: 0 0 1.5rem 0;
}

.basket-item-scroll-function {
    display: flex;
    position: relative;
    height: 2.5rem;
}

.basket-item-scroll-container-back {
    position: absolute;
    background-color: grey;
    right: 5%;
    border-radius: 50%;
    border: none;
    opacity: 70%;
}

.basket-item-scroll-container-img {
    position: absolute;
    left: 10%;
}

.basket-item-add-button {
    height: 2rem;
}

.getItem {
    padding: 10%;
}
.supersaverAnimation {
    display: flex;
    background-color: #f31717;
    color: white;
    height: 1.5rem;
    width: 10%;
    border-radius: 0 0.3rem 0.3rem 0;
    align-items: center;
    transition: width 1s ease;
}

.supersaverAnimationWidth {
    width: 95%;
}

.supersaverAnimation p {
    padding: 0.2rem;
    margin: 0;
    height: fit-content;
}

.footer1 {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin: auto;
    height: fit-content;
    color: white;
    font-size: 0.9rem;
    p {
        padding: 0.3rem;
        line-height: 1rem;
        margin: 0 0 0.5rem;
    }
    b {
        font-size: 1rem;
    }

    .bigbasket {
        width: 30%;
    }

    .help {
        width: 30%;
    }

    .logos {
        width: 40%;

        .bblogo {
            margin: 1rem;
        }

        .appstore {
            margin: 1rem;
            .applestore {
                margin-left: 1rem;
            }
        }

        .social {
            display: flex;
            margin: 1rem;
            width: 40%;
            justify-content: space-between;
            svg {
                border-radius: 0.3rem;
            }
            svg:hover {
                path {
                    fill: #000000;
                }
                background-color: white;
            }
        }
        p {
            margin: 1rem;
        }

        .seller {
            button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 1rem;
                height: 2.5rem;
                background-color: #212121;
                border-radius: 0.3rem;
                border: none;
                color: #d8d8d8;
            }

            button:hover {
                color: #000000;
                background-color: white;
                svg {
                    fill: #000000;
                }
                .facebook {
                    fill: #000000;
                }
            }
        }
    }
}

.footer1 p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.popular {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
    font-size: 14px;
    li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    p {
        font-weight: bold;
        color: white;
    }
}

.container1 {
    justify-content: center;
    align-items: center;
}

.subcontainer {
    max-width: 45%;
    color: #d8d8d8;
    align-items: center;
    justify-content: center;
}

.product-information {
    margin-top: 1rem;
    h6 {
        font-size: 16px;
        font-weight: bold;
    }
    p {
        color: #606060;
        font-size: 14px;
    }
}
