body {
    /* cursor: pointer; */
    font-family: "myfont3", Verdana, Geneva, Tahoma, sans-serif;
}
body img {
    cursor: pointer;
}
#copyrights {
    background-color: #000000;
    color: #ffffff;
    font-family: "myfont3";
    font-size: 14px;
}
.load-div {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.loading {
    height: 5px;
    background-color: #5e9400;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: width 0.5s, transform 0.5s ease;
}

.shrink {
    width: 0;
    transform: translatex(-50%);
}

.bg {
    background-color: #101010;
}
.fonts {
    color: #ffffff;
    font-family: "myfont3";
    font-size: 14px;
    line-height: 2vh;
}
.cities {
    max-width: 85%;
    margin: auto;
    border-top: 1px #ffffff;
    border-top-style: dashed;
    border-bottom: 1px #ffffff;
    border-bottom-style: dashed;
}

ul {
    list-style-type: none;
}
.navbar {
    width: 73%;
    max-width: 100%;
    margin: auto;
    row-gap: 1rem;
}

.navbar1 {
    justify-content: space-between;
    column-gap: 1rem;
    height: 2.3rem;
    overflow: hidden;
    width: 100%;
}
.bb-logo {
    width: 5rem;
    height: 2.3rem;
}
.search {
    position: relative;
    align-items: center;
}

.search-input {
    font: inherit;
    height: 100%;
    min-width: 35rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border: 1px solid #d5d5d5;
    border-radius: 0.3rem;
    overflow: hidden;
}

.search-logo {
    position: absolute;
    width: 1.2rem;
    padding: 0.2rem;
    left: 0.5rem;
}
.location {
    position: relative;
    align-items: center;
}

.location-btn {
    padding: auto;
    padding-left: 2.5rem;
    font-family: "myfont3";
    font-size: 0.75rem;
    border: none;
    border-radius: 0.3rem;
    width: auto;
    height: 100%;
    overflow: hidden;
}
.location-logo {
    position: absolute;
    width: auto;
    height: 1.6rem;
    left: 0.5rem;
    overflow: hidden;
}
.login {
    height: 100%;
    align-items: center;
}

.login-btn {
    width: auto;
    height: 100%;
    font-family: inherit;
    font-size: 0.75rem;
    background-color: #000000;
    border: none;
    border-radius: 0.3rem;
    color: #d5d5d5;
    overflow: hidden;
}

.cart {
    position: relative;
    align-items: center;
}
.cart-logo {
    border: none;
    width: auto;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fce6e8;
    border-radius: 0.3rem;
}

.navbar2 {
    justify-content: space-between;
    column-gap: 3rem;
    height: 2.3rem;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
.category {
    position: relative;
}
.category p {
    font-size: 0.75rem;
    position: absolute;
    padding-left: 0.3rem;
    color: #ffffff;
}
.category-btn {
    border: none;
    border-radius: 0.3rem;
    font-family: "myfont3";
    background-color: #5e9400;
    color: white;
    width: 8rem;
    height: 100%;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    overflow: hidden;
}

.menu-list {
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: auto;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    height: auto; /* Set initial height */
    visibility: visible;
}

.pro-item {
    font-family: "myfont";
    font-size: 0.9rem;
    width: auto;
    height: 100%;
    border: none;
    background-color: transparent;
}

.navbar2-btn {
    border: none;
    background-color: transparent;
    border-radius: 50px;
    height: 100%;
    width: auto;
}

.navbar2 h2 {
    opacity: 30%;
}

.menu {
    padding-top: 0.5rem;
    /* display: block; */
    justify-content: center;
    font-family: "myfont3";
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* z-index: 1000; */
}

.menu.hidden {
    transform: translateY(-100%);
}

/* body */
.cntr {
    width: 73%;
    height: 100%;
}
.body {
    /* margin-top: 130px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial {
    justify-content: center;
    width: 73%;
    max-width: 100%;
    margin: auto;
}
.initialdiv {
    justify-content: space-between;
    column-gap: 2%;
    height: 3rem;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.initialdiv button {
    border: none;
    border-radius: 0.3rem;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cntr1 {
    position: relative;
    width: 73%;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 1rem;
}

.chead {
    justify-content: space-between;
    position: relative;
    height: 2.3rem;
    margin: 2rem;
}

.basket-cntr-main {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    height: 28rem;
    width: 100%;
    /* scroll-snap-type: x mandatory;    */
    justify-content: space-between;
    border-radius: 0.5rem;
}

.basket-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0.3rem;
    background-color: #ffffff;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    height: 100%;
    width: 24%;
    padding: 0.8rem;
    overflow-y: auto;
    scroll-snap-align: start;
    border-radius: 0.5rem;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.basket-item-image-container {
    position: relative;
    border-radius: 0.5rem;
    border: solid 0.1rem #f4f4f4;
    /* min-width: max-content; */
    width: 100%;
    height: 100%;
    margin: auto;
}

.basket-item-image {
    width: 100%;
    height: auto;
}

.basket-item-discount {
    top: 0;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.4rem 0.6rem;
    background-color: rgb(50, 160, 50);
    color: white;
    border-radius: 0.5rem 0;
}

.basket-item-image-type-cntr {
    width: fit-content;
    padding: 0.15rem;
    border: solid 1px green;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.basket-item-image-type {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(29, 158, 29);
    border-radius: 50%;
}

.basket-item-detail-container {
    margin-block: 2rem;
}

.basket-item-detail-brand {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
}

.basket-item-detail-name {
    height: 4rem;
}

.basket-item-detail-quantity {
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: solid 1px gray;
    opacity: 70%;
    background-color: #ffffff;
}

.basket-item-offer-button {
    display: flex;
    background: linear-gradient(to right, white, #f08b8b);
    border-radius: 0.2rem;
    border: 1px solid #f31717;
    color: #f31717;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.basket-item-offer-button p {
    margin: 0;
    padding: 0.2rem;
}

.basket-item-scroll-container {
    position: relative;
    height: fit-content;
    background: linear-gradient(#ffffff, #f08b8b);
    font-size: 0.9rem;
    border-radius: 1rem;
    /* padding: 15% 0; */
}

.basket-item-scroll-function {
    display: flex;
    position: relative;
    height: 2.5rem;
}

.basket-item-scroll-container-back {
    position: absolute;
    background-color: grey;
    right: 5%;
    border-radius: 50%;
    border: none;
    opacity: 70%;
}

.basket-item-scroll-container-img {
    position: absolute;
    left: 10%;
}

.getItem {
    padding: 10%;
}
.supersaverAnimation {
    display: flex;
    background-color: #f31717;
    color: white;
    height: 1.5rem;
    width: 10%;
    border-radius: 0 0.3rem 0.3rem 0;
    align-items: center;
    transition: width 1s ease;
}

.supersaverAnimationWidth {
    width: 95%;
}

.supersaverAnimation p {
    padding: 0.2rem;
    margin: 0;
    height: fit-content;
}

.smb {
    column-gap: 1%;
    align-items: center;
    height: 100%;
    width: auto;
    column-gap: 0.5rem;
}

.smb button {
    height: 90%;
    width: 2rem;
    border: none;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0px 8px 5px rgb(0, 0, 0, 0.1);
}

.cntr2 {
    display: flex;
}
.mini-offers {
    column-gap: 2rem;
    align-items: center;
}
.mini-offers img {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 0.4rem;
    box-shadow: 1px 10px 20px rgb(0, 0, 0, 0.1);
}

.carouseldiv {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1);
}

.carousel-main {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100%;
}
.carousel-btn {
    display: flex;
    height: 10%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    justify-content: space-between;
}
.prev-button,
.next-button {
    position: absolute;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    height: 100%;
    width: 4%;
}
.carousel-arrow {
    height: auto;
    width: 100%;
    margin: auto;
    opacity: 50%;
}

.prev-button {
    left: 2%;
}

.next-button {
    right: 2%;
}

.cntr9 {
    width: 73%;
    justify-content: center;
    align-items: center;
}

.cntr9 p {
    font-size: 0.8rem;
    color: #676767;
}

.popular {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
    font-size: 14px;
}

.container1 {
    justify-content: center;
    align-items: center;
}

.subcontainer {
    max-width: 45%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "myfont3";
    src: url("fonts/Proxima\ Nova\ Font.otf") format("otf");
}
@font-face {
    font-family: "myfont";
    src: url("fonts/ProximaNovaRegular.woff2") format("woff");
}
/* @font-face {
    font-family: "myfont";
    src: url("fonts/ProximaNovaBold.woff2") format("woff");
    font-weight: bolder;
}
@font-face {
    font-family: "myfont";
    src: url("fonts/ProximaNovaSemibold.woff2") format("woff");
    font-weight: bold;
} */
/*
@font-face {
    font-family: "myfont2";
    src: url("fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff");
}
@font-face {
    font-family: "myfont2";
    src: url("fonts/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff");
} */
